@model Publisher
@{
    ViewData["Title"] = "Create";
}
<h1 class="display-4 text-info"> Publisher Create Page</h1>

<div class="container bg-warning w-50 m-0">
    <form asp-action="Create">
        <div class=" form-group label-txtbox d-flex">
            <label style="font-weight: bold;"
                class=" col-sm-5 text-center border border-warnings  text-danger mt-2 p-2"> Publisher
                Name:</label>
            <input type="text" asp-for="PublisherName" class="form-control ml-2 mt-2 w-50">
        </div>
        <div class=" form-group label-txtbox d-flex">
            <label style="font-weight: bold;" class="col-sm-5 text-center border border-warnings  text-danger mt-2 p-2">
                Publisher City:</label>
            <input type="text" asp-for="PublisherCity" class="form-control ml-2 mt-2 w-50">
        </div>
        <div class=" form-group label-txtbox d-flex">
            <label style="font-weight: bold;" class="col-sm-5 text-center border border-warnings  text-danger mt-2 p-2">
                Publisher Mail:</label>
            <input type="text" asp-for="PublisherMail" class="form-control ml-2 mt-2 w-50">
        </div>
        <div id="buttons" class=" form-group label-txtbox d-flex">
            <input class="btn btn-md mb-2 btn-outline-success" type="submit" value="Publisher Create">
            <a asp-action="Index" class="display-5 ml-2" style="font-size: 17pt;">List To Back</a>
        </div>
    </form>
</div>